<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choongang.shoppingmall.dao.AddressMapper">
	<!-- namespace와 인터페이스 이름이 일치해야 자동으로 구현된다. -->
	
	<!-- 배송지 추가 -->
	<insert id="insertAddress" parameterType="map">
		INSERT INTO address (addr_id, user_id, name, address, address_detail, postcode)
        VALUES (addr_id_seq.NEXTVAL, #{userId}, #{name}, #{address}, #{address_detail}, #{postcode})
	</insert>
	
	<!-- 배송지 목록확인-->
	 <select id="findAddressListByUserId" resultType="AddressVO">
        SELECT user_id, addr_id, name, postcode, address, address_detail
        FROM address
        WHERE user_id = #{userId}  <!-- userId에 해당하는 주소만 조회 -->
    </select>
    
	<!-- 배송지 목록 수정 확인-->
    <select id="selectAddressByAddrId" resultType="AddressVO">
        SELECT * FROM address WHERE addr_id = #{addr_id}
    </select>
    
    <!-- 배송지 목록 수정-->
     <update id="updateAddress" parameterType="AddressVO">
        UPDATE address
        SET name = #{name}, address = #{address}, address_detail = #{address_detail}, postcode= #{postcode}
        WHERE addr_id = #{addr_id}
    </update>
    
    <!-- 배송지 삭제-->
    <delete id="deleteAddress" parameterType="int">
    DELETE FROM address WHERE addr_id = #{addr_id}
	</delete>
    
    <!-- 기본 배송지 변경-->
    <update id="updateUserAddress" parameterType="AddressVO">
        UPDATE users
    	SET 
    	name = #{name},
    	postcode = #{postcode},
    	address = #{address},
        address_detail = #{address_detail}
    	WHERE user_id = #{userId}
	</update>
    
</mapper>  