<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choongang.shoppingmall.dao.UserDAO">
	<!-- namespace와 인터페이스 이름이 일치해야 자동으로 구현된다. -->
	
	<!-- 배송지 추가 -->
	<insert id="insertAddress" parameterType="AddressVO">
		INSERT INTO address (user_id, addr_name, addr, addr_detail, addr_code)
        VALUES (#{userId}, #{addr_name}, #{addr}, #{addr_detail}, #{addr_code})
	</insert>
	
	<!-- 배송지 수정-->
	<update id="updateAddress" parameterType="AddressVO">
		
	</update>
	
	
</mapper>  