<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
	<mapper namespace="com.choongang.shoppingmall.dao.CartMapper">
	
	<!--  장바구니에 상품 추가  -->
	<insert id="addCart" parameterType="map"> 
	INSERT INTO cart (cart_id, user_id, product_id, cart_count , product_price, product_option) 
	VALUES (cart_id_seq.NEXTVAL, #{userId}, #{productId}, #{cartCount}, #{productPrice}, #{productOption}) 
	</insert>
	
	<!--  사용자 ID로 장바구니 목록 조회  -->
	<select id="getCartItems" parameterType="int" resultType="CartVO"> 
	SELECT c.product_id AS productId, p.product_name AS productName, 
	p.product_price AS productPrice, c.cart_count AS cartCount, c.cart_id AS cartId , 
	c.product_option AS productOption , p.category_id AS productCategory , p.discount , p.product_stock AS productStock
	FROM cart c 
	JOIN product p ON c.product_id = p.product_id WHERE c.user_id = #{userId}
	 </select>
	
	<!--  장바구니 항목 삭제  -->
	<delete id="deleteCart" parameterType="int">
	 DELETE FROM cart
	 WHERE cart_id = #{cartId} 
	 </delete>
	 
	<!--  장바구니 수량 수정  -->
	<update id="updateCart"> 
	UPDATE cart SET cart_count = #{cartCount} 
	WHERE cart_id = #{cartId} 
	</update>
	
	<!-- 장바구니에 담긴 상품 개수 가져오기 -->
    <select id="getCartItemCount" resultType="int" parameterType="int">
        SELECT COUNT(*) 
        FROM cart 
        WHERE user_id = #{userId}
    </select>
	

	</mapper>