<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choongang.shoppingmall.dao.CategoryDAO">
	<!-- 카테고리 모두 가져오기 -->
	<select id="selectCategory" resultType="CategoryVO">
		select * from category
	</select>
	
	<!-- id로 카테고리 가져오기 -->
	<select id="selectCategoryId" parameterType="int" resultType="CategoryVO">
		select * from category where category_id=#{category_id}
	</select>
</mapper>  