<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="com.choongang.shoppingmall.dao.OrderDAO">
	<!-- 주문 테이블 저장 -->
	<insert id="addToOrder" parameterType="OrdersVO">
    	insert into orders(order_id, user_id, merchant_uid, total_price, payment_type, status, address, order_date, request_type)
   		values (order_id_seq.nextval, #{user_id}, #{merchant_uid}, #{total_price}, #{payment_type}, #{status}, #{address}, sysdate, #{request_type})
	</insert>
	
	<!-- 주문 상품 리스트 저장 -->
	<insert id="addToOrderItems" parameterType="Order_ItemVO">
   		insert into order_item(order_item_id, order_id, user_id, product_id, quantity, order_price)
    	values(order_item_id_seq.nextval, #{order_id}, #{user_id}, #{product_id}, #{quantity}, #{order_price})
	</insert>
	
	<!-- 가장 큰 주문 번호 가져오기 -->
	<select id="selectMaxOrderId" resultType="int">
		select max(order_id) FROM orders
	</select>
</mapper>