<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choongang.shoppingmall.dao.ProductDAO">
	<!-- 갯수 세기 -->
	<select id="selectProductCount" resultType="int" parameterType="hashmap">
		select count(*) from product
		<where>
			<choose>
				<when test="search != null and search != '0'.toString()">
					${field} like '%'||#{search}||'%'
				</when>
				<when test="search == 0">
					${field} like #{search}
				</when>
			</choose>
		</where>
	</select>
	<!-- 갯수 세기 -->
	<select id="selectProducts" resultType="ProductVO">
		select * from product
	</select>
	<!-- 필터링된 상품 갯수 세기 -->
	<select id="selectFilterProductCount" parameterType="int" resultType="int">
		select count(*) from product where category_id=#{category_id}
	</select>
	<!-- id로 한개 얻기 -->
	<select id="selectByProductId" parameterType="int" resultType="ProductVO">
		select * from product where product_id=#{product_id}
	</select>
	<select id="selectProductNameById" parameterType="int" resultType="String">
		select product_name from product where product_id=#{product_id}
	</select>
	<!-- 상품명 이름 개수 세기 -->
	<select id="selectCountByProductName" parameterType="string" resultType="int">
		select count(*) from product where product_name=#{product_name}
	</select>
	<!-- 한 페이지 얻기 -->
	<select id="selectProductList" parameterType="hashmap" resultType="ProductVO">
		select 
			R.*
		from
		(
			select 
				rownum rnum, Q.*
			from
				(select * from product p join category c on p.category_id=c.category_id
				<where>
					<choose>
						<when test="search != null and search != '0'.toString()">
							p.${field} like '%'||#{search}||'%'
						</when>
						<when test="search == 0">
							${field} like #{search}
						</when>
					</choose>
				</where>
				order by p.product_id desc) Q
			where
			<![CDATA[
				rownum<=#{endNo}
				]]>
		) R
		where
		<![CDATA[
			rnum >= #{startNo}
		]]>
	</select>
	<!-- 카테고리 id로 필터링한 상품 한 페이지 얻기 -->
	<select id="selectFilterProductList" parameterType="hashmap" resultType="ProductVO">
		<![CDATA[
		select 
			R.*
		from
		(
			select 
				rownum rnum, Q.*
			from
				(select * from product where category_id=#{category_id} order by product_id desc) Q
			where
				rownum<=#{endNo}
		) R
		where
			rnum >= #{startNo}
		]]>
	</select>
	<!-- 상품 등록 -->
	<insert id="insert" parameterType="ProductVO">
	<selectKey resultType="int" keyProperty="product_id" order="BEFORE">
		select product_id_seq.nextval from dual
	</selectKey>
		insert into product
		(product_id, category_id, product_name, description, product_price,
		img_count, product_stock, discount, product_regDate, product_status, product_option
		)
		values
		(#{product_id}, #{category_id},#{product_name},#{description},#{product_price},
		#{img_count},#{product_stock},#{discount},sysdate,#{product_status},
		#{product_option})
	</insert>
	<!-- 상품 수정 -->
	<update id="update" parameterType="ProductVO">
		update product set category_id=#{category_id}, product_name=#{product_name},
		description=#{description}, product_price=#{product_price}, img_count=#{img_count},
		product_stock=#{product_stock}, discount=#{discount}, product_regdate=sysdate,
		product_status=#{product_status},product_option=#{product_option} where product_id=#{product_id}
	</update>
	<!-- 상품 삭제 -->
	<delete id="delete" parameterType="int">
		delete from product where product_id=#{product_id}
	</delete>
	<!-- 판매중 상품 개수 -->
	<select id="selectYCount" resultType="int">
		select count(*) from product where product_status = 'Y'
	</select>
	<select id="selectNCount" resultType="int">
		select count(*) from product where product_status = 'N'
	</select>
	<!-- 품절 상품 개수 -->
	<select id="selectSoldOutCount" resultType="int">
		select count(*) from product where product_stock = '0'
	</select>
	<update id="updateStatus" parameterType="ProductVO">
		update product set product_status=#{product_status} where product_id=#{product_id}
	</update>
	<!-- 상품 재고 변경 -->
	<update id="updateStock" parameterType="ProductVO">
		update product set product_stock
		<choose>
			<when test="sc == 'ch'.toString()">
			= #{product_stock} where product_id=#{product_id}
			</when>
			<when test="sc == 'plus'.toString()">
			= product_stock + #{product_stock} where product_id=#{product_id}
			</when>
			<otherwise>
			= product_stock - #{product_stock} where product_id=#{product_id}
			</otherwise>
		</choose>
	</update>
</mapper>  