<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choongang.shoppingmall.dao.QuestionDAO">
	<!-- 문의글 개수 카운트 -->
	<select id="selectQuestionCount" resultType="int" parameterType="hashmap">
		select count(*) from question
		<where>
			<if test="search != null">
				${field} like '%'||#{search}||'%'
			</if>
		</where>
	</select>
	<!-- 문의 글번호로 찾기 -->
	<select id="selectById" resultType="QuestionVO" parameterType="int">
		select * from question where question_id = #{question_id}
	</select>
		<!-- 한 페이지 얻기 -->
	<select id="selectQuestionList" parameterType="hashmap" resultType="QuestionVO">
		
		select 
			R.*
		from
		(
			select 
				rownum rnum, Q.*
			from
				(select * from question q join users u on q.user_id=u.user_id 
				<where>
					<if test="search != null">
						${field} like '%'||#{search}||'%'
					</if>
				</where>
				order by question_id desc) Q
			where
			<![CDATA[
				rownum<=#{endNo}
				]]>
		) R
		where
		<![CDATA[
			rnum >= #{startNo}
		]]>
	</select>
	<!-- 문의 내역 저장 -->
	<insert id="addToQuestion" parameterType="QuestionVO">
		insert into question (question_id, user_id, question_title, question_content, question_regdate, question_add, inquiryType, alertEmail)
		values(question_id_seq.nextval, #{user_id}, #{question_title}, #{question_content}, sysdate, #{question_add}, #{inquiryType}, #{alertEmail})
	</insert>
	<!-- 답변 등록시 접수상태 변경 -->
	<update id="updateStatus" parameterType="QuestionVO">
		update question set question_status = #{question_status} where question_id=#{question_id}
	</update>
	<!-- 문의 내역 삭제 -->
	<delete id="deleteToQuestion" parameterType="QuestionVO">
		delete from question where user_id=#{user_id} and question_id=#{question_id}
	</delete>
	
	<!-- 유저 아이디 별 문의 내역 가져오기 -->
	<select id="selectQuestionListByUserId" parameterType="int" resultType="QuestionVO">
		select * from question where user_id=#{user_id}
	</select>
	<!-- 유저 아이디 별 문의 개수 가져오기 -->
	<select id="selectQuestionCountByUserId" parameterType="int" resultType="int">
		select count(*) from question where user_id=#{user_id}
	</select>
	<select id="selectCountByStatus" resultType="int">
		select count(*) from question where question_status = '답변대기'
	</select>
</mapper>