<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choongang.shoppingmall.dao.UsersBoardDAO">
 	<!-- 목록보기 -->
 	<!-- 1. 유저 전체 수 -->
 	<select id="selectCount" resultType="int">
 		select count(*) from users
 		<where>
			<if test="search != null">
				#{field} like '%#{search}%'
			</if>
		</where>
 	</select>
 	<!-- 2. 전체  유저 목록 -->
 	<select id="selectAll"  resultType="UserVO">
 		select * from users 
 		<where>
			<if test="search != null">
				#{field} like '%#{search}%'
			</if>
		</where>
 		order by user_id desc
 	</select>
 	<!--  3. 회원 고유번호로 찾기  	-->
 	<select id="selectByID" parameterType="int" resultType="UserVO">
 		select * from users where user_id = #{user_id}
 	</select>
 	<!-- 전페 유저목록 페이지 얻기 -->
	<select id="selectUserList" parameterType="hashmap" resultType="UserVO">
		
		select 
			R.*
		from
		(
			select 
				rownum rnum, Q.*
			from
				(select * from users 
				<where>
					<if test="search != null">
						#{field} like '%#{search}%'
					</if>
				</where>
				order by user_id desc) Q
			where
			<![CDATA[
				rownum<=#{endNo}
				]]>
		) R
		where
		<![CDATA[
			rnum >= #{startNo}
		]]>
	</select>
 	<!-- 게시글 저장 
 	<insert id="insert" parameterType="UserVO">
		insert into 
			cboard
		values 
			(cboard_seq.nextval, #{name}, #{password}, #{subject}, #{content}, SYSDATE, 0 , #{ipAddress})
	</insert>
 	-->
	
	<!--  
 	<update id="update" parameterType="UserVO">
		update
			cboard
		set
			subject=#{subject}, content=#{content}, regDate=SYSDATE, ipAddress=#{ipAddress}
		where
			id=#{id}
	</update>
	-->
	<!-- 6. 삭제
	
	<delete id="delete" parameterType="int">
		delete from cboard where id=#{id}
	</delete>
	 -->
 	
</mapper>