<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choongang.shoppingmall.dao.UsersBoardDAO">
 	<!--  유저 전체 수 -->
 	<select id="selectCount" resultType="int" parameterType="hashmap">
 		select count(*) from users
 		<where>
			<if test="search != null">
				#{field} like #{search}
			</if>
		</where>
 	</select>
 	<!--  회원 고유번호로 찾기  	-->
 	<select id="selectByID" parameterType="int" resultType="UserVO">
 		select * from users where user_id = #{user_id}
 	</select>
 	<!-- 유저목록 1페이지 얻기 -->
	<select id="selectUserList" parameterType="hashmap" resultType="UserVO">
		
		select 
			R.*
		from
		(
			select 
				rownum rnum, Q.*
			from
				(select * from users 
				<where>
					<if test="search != null">
						#{field} like #{search}
					</if>
				</where>
				order by user_id desc) Q
			where
			<![CDATA[
				rownum<=#{endNo}
				]]>
		) R
		where
		<![CDATA[
			rnum >= #{startNo}
		]]>
	</select>
</mapper>