a{
	text-decoration: none;
}

.mypage_leftcon {
    background-color: #f8f9fa; /* 연한 회색 배경 */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    flex: 0 0 200px; /* 고정 너비 설정 (원하는 너비로 조정 가능) */
    margin-right: 20px; /* 오른쪽 여백 추가 */
}

.mypage_leftcon h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.myshopMain {
    list-style: none;
    padding: 0;
}

.myshopMain li {
	color: black !important;
    margin-top: 20px;
}

.myshopMain a {
    text-decoration: none;
    transition: color 0.2s;
}

.myshopMain a:hover {
    color: #717FE0;
}


.col-md-11 {
	margin: auto;
	display:flex;
}

.card {
    margin-bottom: 20px;
}
.card-order{
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
}

.question-header{
	display: flex;
}

.question-header button{
	border: 1px solid grey;
	width: 100px;
	height: 30px;
	position: absolute;
	right: 15px;
	transition: color 0.2s;
}
.question-header button:hover{
	  color: #717FE0;
}

.card-title {
    font-weight: bold;
}

.card-body {
    background-color: #ffffff; 
}

.table {
    margin-top: 20px;
}

.table th {
    background-color: #ffffff; /* 테이블 헤더 배경색 */
    text-align: center;
}

.table-striped td{
	width: 850px;
}

.table-menu th{
	border:1px solid grey;
	cursor: pointer;
}

.btn-primary {
    background-color: #717FE0; /* 버튼 배경색 */
    border-color: #007bff;
    height: 35px;
    position: relative;
    margin-top: 30px;
    margin-left: 10px;
}

.btn-primary:hover {
    background-color: #717FE0; /* 버튼 호버 시 색상 */
}

.path {
    margin-bottom: 15px;
}

.empty-tb{
	height: 370px;
	line-height: 370px;
}

.breadcrumb {
    background-color: transparent; 
    padding: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: '>';
}

.list-group{
	margin-left: 20px;
	margin-bottom: 20px;
	height: 105px;
	width: 800px;
	line-height: 43px;
}

.left-menu{
	margin-bottom: 100px;
}


.form-row{
	margin-top: 25px;
}

.active{
	font-size: 17px;
	font-weight: bold;
}

#previewModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modalBg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; 
    display: none;
}

/* SweetAlert 타이틀 텍스트 크기 조정 */
.small-title {
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
	line-height: 160%;
}

.tab-header {
	background-color: #f9f9f9; /* 기본 배경색 */
	transition: background-color 0.3s; /* 부드러운 전환 효과 */
}

/* .tab-header:hover {
	background-color: #4997D0; 마우스 오버 시 배경색 
} 
*/
.tab-header.active {
	background-color: #a4adec; /* 활성화된 탭 배경색 */
	/* font-weight: bold; 활성화된 탭 강조 */
}


table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	padding: 8px 12px;
	border: 1px solid #ddd;
	text-align: center;
}

th {
	background-color: #f4f4f4;
	font-weight: bold;
}


/* active 클래스가 있을 경우 활성화 표시 */

.active2 {
	background-color: #ffeb3b; /* 황색 배경 */
	font-weight: bold;
}

.question-content{
	text-align: left;
}

.wr-review-thumb{
	width: 140px;
	height: 150px;
}
.wr-review-prname{
	font-size: 12pt;
	font-weight: bold;
	display: block;
	text-align: left;
	height: 80px;
	line-height: 80px;
	padding-right: 300px;
}
.fa-star{
	font-size: 28pt;
	color: #efd61f;
}
.star-wrap{
	text-align: left;
	height: 90px;
	margin-top: -25px;
	letter-spacing: -3px;
}
.review-title2{
	width: 755px !important;
	height: 35px;
	margin-left: 36px;
	margin-top: -1px;
	
}
.review-content{
	resize: none;
	width: 95%;
	height: 11em;
	margin-left: 36px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.r-c-title1{
	display: inline;
	position: absolute;
	left: 0;
	top: 15px;
}
.r-c-title2{
	display: inline;
	position: absolute;
	left: 0;
	top: 120px;
}
.review-submit{
	position: absolute;
	top: 535px;
	right: 0;
}