.paging {
	position: relative;
	width: 1200px;
	left: 400px; top: 100px;
}
.total {
	height: 20px;
	text-align: right;
}
.index {
	height: 5px;
	font-size: 0.9rem;
	border-bottom: 1px solid grey;
	text-indent: 30px;
}
.list {
	background-color: white;
	height: 35px;
	line-height:20px;
	font-size: 1rem;
	border-bottom: 1px solid #ebebeb;
	text-indent: 30px;
}
.list:hover {
	background-color: whitesmoke;
}
.pageList{
	position: relative;
	top: 30px;
	left: 500px;
}
.userSearch {
	position: relative;
	left: 800px; top:130px;
	width:300px;
	height:30px;
	line-height: 30px;
	background-color: white;
}
.userSearch input,select{
	border: none;
}
#submit {
	width:35px;
	background-color: white;
	background-image: url(/images/icons/icon-search.png);
	background-repeat: no-repeat;
	background-size: cover;
	border: none;
}
