li {
	list-style-type: none;
}
.info {
	border: 1px solid rgb(192, 192, 192);
	width: 400px; height: 250px;
	position: fixed; left: 300px; top: 60px;
	margin: 50px;
	background-color: white;
}
.email {
	border: 1px solid rgb(192, 192, 192);
	width: 400px; height: 40px; line-height: 40px;
	position: fixed; left: 300px; top: 330px;
	margin: 50px;
	background-color: white;
}
.history {
	border: 1px solid rgb(192, 192, 192);
	width: 400px; height: 180px;
	position: fixed; left: 800px; top: 60px;
	margin: 50px;
	background-color: white;
}
.point {
	border: 1px solid rgb(192, 192, 192);
	width: 400px; height: 180px;
	position: fixed; left: 800px; top: 260px;
	margin: 50px;
	background-color: white;
}
.orderList {
	border: 1px solid rgb(192, 192, 192);
	width: 400px; height: 50px;
	line-height: 50px;
	position: fixed; left: 300px; top: 400px;
	margin: 50px;
	background-color: white;
}
.back:hover{
	font-weight: bold;
	cursor: pointer;
}