
.bg {
	background-color: rgb(227, 255, 255, 0.3);
	border: 1px solid black;
	width: 1250px;
	height: 600px;
	overflow: hidden;
}
.menu-bar {
	position: fixed;
	border: 0px solid black;
	border-right: 1px solid #ebebeb;
	width: 100px;
	height: 600px;
	text-align: center;
	background-color: white;
}

.menu-bar div {
	height: 40px;
	line-height: 40px;
	margin-bottom: 50px;
	
}
.menu-bar div:hover {
	background-color: #ebebeb;
}
.admin-main {
	border: 0px solid black;
	width: 900px;
	position: fixed;
	left: 300px;
}
.main {
	height: 60px;
	text-align: center;
	font-weight: bold;
	font-size: 1.5rem;
}
.addForm {
	position: fixed;
	top: 100px; left: 100px;
	width:250px; 
	display: inline-block;
}

a {
	text-decoration: none;
}

a:link {
	color: black;
}

a:visited {
	color: black;
}