.bg {
	background-color: rgb(227, 255, 255, 0.3);
	border: 0px solid black;
	width: 1200px;
	height: 600px;
}
.menu-bar {
	position: fixed;
	border: 0px solid black;
	border-right: 1px solid #ebebeb;
	width: 100px;
	height: 600px;
	text-align: center;
	background-color: white;
}
.menu-bar div {
	height: 40px;
	line-height: 40px;
	margin-bottom: 50px;
}
.menu-bar div:hover {
	background-color: #ebebeb;
}

.admin-main {
	border: 0px solid black;
	width: 1000px;
	position: fixed; left: 150px;
}
.main {
	height: 80px;
	text-align: center;
	font-weight: bold;
	font-size: 1.5rem;
}
a {
	text-decoration:none; 
}
a:link {
	color: black;
}
a:visited {
	color: black;
}
