
.total {
	height: 20px;
	text-align: right;
}
.index {
	height: 5px;
	font-size: 0.7rem;
	border-bottom: 1px solid black;
	text-indent: 30px;
}
.list {
	background-color: white;
	height: 10px;
	line-height:20px;
	font-size: 0.7rem;
	border-bottom: 1px solid #ebebeb;
	text-indent: 30px;
}
.list:hover {
	background-color: whitesmoke;
}

