.paging {
	position: relative;
	width: 1400px;
	left: 350px;
	top: 100px;
}
.total {
	height: 20px;
	text-align: right;
}
.index {
	height: 5px;
	font-size: 0.9rem;
	border-bottom: 1px solid grey;
	text-indent: 30px;
	line-height: 40px;
}
.list {
	background-color: white;
	height: 40px;
	line-height:40px;
	font-size: 1rem;
	border-bottom: 1px solid #ebebeb;
	text-indent: 30px;
}
.list:hover {
	background-color: whitesmoke;
}
.pageList {
	position: fixed;
	top: 660px;
	left: 900px;
}
.ReviewSearch {
	position: fixed;
	top: 700px;
	left: 760px;
	height:30px;
	line-height: 30px;
	border: 0px solid black;
	background-color: white;
}

.index select {
	background-color: rgb(236,240,244,0.8);
}
.ReviewSearch input,select{
	border: none;
}
#submit {
	width:35px;
	background-color: white;
	background-image: url(/images/icons/icon-search.png);
	background-repeat: no-repeat;
	background-size: cover;
	border: none;
}
