.paging {
	position: relative;
	width: 1420px;
	left: 300px;
	top: 100px;
	background-color: white;
	border-radius: 10px;
}
.orderbar {
	position: relative;
	width:1420px; height: 50px;
	line-height: 50px;
	font-size: 13pt;
	font-weight: bold;
	text-indent:10px;
	left: 300px; top:100px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	color: grey;
}
.orderbar div:hover {
	cursor: pointer;
	color: black;
}
.pagingBar {
	position: relative;
	width:1420px; height: 60px;
	line-height: 50px;
	font-size: 13pt;
	font-weight: bold;
	text-indent:10px;
	left: 300px; top:120px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.orderbar a {
	color: graytext;
	margin-left: 15px;
}
.total {
	height: 20px;
	text-align: left;
}
.index {
	height: 5px;
	font-size: 1rem;
	border-bottom: 1px solid grey;
	text-indent: 30px;
	line-height: 45px;
}
.list {
	background-color: white;
	height: 45px;
	line-height: 30px;
	font-size: 0.9rem;
	border-bottom: 1px solid #ebebeb;
	text-indent: 30px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	
}
.list select {
	background-color: white;
	border: none;
}
.list:hover {
	background-color: whitesmoke;
}
.hide {
	display: none;
}
.pageList{
	position: relative;
	top: 150px;
	left: 0px;
}
.orderSearch {
	position: relative;
	top:10px;
	height:30px;
	width:400px;
	margin-right:0px;
	line-height: 30px;
	border: 0px solid black;
}
.orderSearch input,select{
	border: none;
}
.orderSearch2 input,select{
	border: none;
}
input:focus {
	outline: none;
}
#search {
	background-color: #ebebeb;
}
#submit {
	width:35px;
	background-color: white;
	background-image: url(/images/icons/icon-search.png);
	background-repeat: no-repeat;
	background-size: contain;
	border: none;
}
#submit2 {
	width:35px;
	background-color: white;
	background-image: url(/images/icons/icon-search.png);
	background-repeat: no-repeat;
	background-size: contain;
	border: none;
}