.bg {
	background-color: rgb(227, 255, 255, 0.3);
	border: 0px solid black;
	width: 1200px;
	height: 600px;
	
}

.menu-bar {
	position: fixed;
	border: 0px solid black;
	width: 100px;
	height: 600px;
	text-align: center;
	font-weight: bold;
	
}
.menu-bar div {
	
	height: 40px;
	line-height: 40px;
	margin-bottom: 50px;
	background-color: lightblue;
}
.admin-main {
	border: 0px solid black;
	width: 1000px;
	position: fixed; left: 150px;
}
.main {
	height: 60px;
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
}
a {
	text-decoration:none; 
}
a:link {
	color: black;
}
a:visited {
	color: black;
}
li {
	list-style-type: none;
}
.info {
	border: 1px solid rgb(192, 192, 192);
	width: 400px; height: 250px;
	position: fixed; left: 100px; top: 80px;
	margin: 50px;
	background-color: white;
}
.email {
	border: 1px solid rgb(192, 192, 192);
	width: 400px; height: 50px; line-height: 50px;
	position: fixed; left: 100px; top: 350px;
	margin: 50px;
	background-color: white;
}
.history {
	border: 1px solid rgb(192, 192, 192);
	width: 400px; height: 180px;
	position: fixed; left: 600px; top: 80px;
	margin: 50px;
	background-color: white;
}
.point {
	border: 1px solid rgb(192, 192, 192);
	width: 400px; height: 180px;
	position: fixed; left: 600px; top: 280px;
	margin: 50px;
	background-color: white;
}
.back:hover{
	font-weight: bold;
	cursor: pointer;
}