.admin-main {
	border: 0px solid black;
	width: 900px;
	position: fixed;
	left: 200px;
}
.back {
	position: fixed;
	width: 100px;
	left: 130px; top: 50px;
}
.back:hover {
	cursor: pointer;
	font-weight: bold;
}
.addForm {
	position: fixed;
	top: 80px; left: 200px;
	width:700px; 
	display: inline-block;
	font-size: 8pt;
}
.filebox .upload-name {
    display: inline-block;
    height: 30px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    margin-bottom:10px;
    width: 150px;
    color: #999999;
}
.filebox label {
    display: inline-block;
    color: black;
    vertical-align: middle;
    background-color: #c1e0ff;
    cursor: pointer;
    font-size:8pt;
    text-align: center;
    width: 55px;
    height: 35px;
    line-height:35px;
    margin-left: 10px;
    margin-bottom:10px;
    border-radius: 10px;
}
.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
input, select {
	border: 1px solid #dddddd;
}
.price {
	width:455px; height:30px;
	display: flex;
	margin-bottom: 10px;
}
.stockDiv {
	width:280px;
	display: flex;
}
#previewBox {	
	border: 1px solid #dddddd;
	width: 300px; height: 50px;
	margin-bottom: 5px;
}
#fileReset {
	display: none;
	font-size: 8pt;
}
img {
	width: 50px; height: 50px;
	border: 1px solid #dddddd;
}
#pd {
	width:700px;
	display: flex;
}
#description {
	width: 450px; height: 160px;
}
#status {
	height: 30px;
	margin-right: 10px;
}
#discount {
	width: 38px;
	height: 30px;
}
#totalprice {
	width: 63px; height: 30px;
	border: 1px solid #dddddd;
	background-color: white;
	font-weight: bold;
	text-indent: 5px;
}
span {
	width: 20px;
	text-indent: -5px;
}
label {
	height: 30px;
}
label > input {
	margin-top: 8px;
}
.input-group-text {
	font-size: 8pt;
}
.form-control {
	font-size: 8pt;
	resize: none;
}