<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/webjars/bootstrap/5.3.0/js/bootstrap.min.js"></script>
<script src="/webjars/axios/1.4.0/dist/axios.min.js"></script>
<title>관리자 페이지</title>
<link rel="stylesheet" type="text/css" href="/css/admin/admin.css">
<link rel="stylesheet" type="text/css" href="/css/admin/adminQna.css">
<script type="text/javascript">
</script>
</head>
<body>
	<header>
		문의 관리
	</header>
	<nav>
		<div class="menu_bar">
			<div class="admin" onclick="location.href='/admin'">
				ADMIN
			</div>
			<div class="admin_users" onclick="location.href='/admin/users'">
				회원관리
			</div>
			<div class="admin_products" onclick="location.href='/admin/products'">
				상품관리
			</div>
			<div class="admin_qna" onclick="location.href='/admin/qna'" style="font-size: 16pt; background: #ebebeb;">
				문의관리
			</div>
			<div class="admin_review" onclick="location.href='/admin/review'">
				후기관리
			</div>
			<div class="admin_orders" onclick="location.href='/admin/orders'">
				주문관리
			</div>
			<div onclick="location.href='/index.html'">
				SHOP
			</div>
		</div>
	</nav>
	<section class="bg">
			<table class="paging">
				<tr>
					<td style="color: blue;"><a href="/admin/qna">전체</a>[[${qv.pageInfo}]]</td>
					<td style="color: blue;"><a href="/admin/qna?p=1&s=10&b=10&field=question_status&search=답변대기">미답변 </a>[[${noreply}]]</td>
				</tr>
			<colgroup>
               <col width="5%" />
               <col width="7%" />
               <col width="33%" />
               <col width="8%" />
               <col width="12%" />
               <col width="8%" />
             </colgroup>
				<tr class="index">
					<th>글번호</th>
					<th>유저</th>
					<th>제목</th>
					<th>
						<select style="font-weight: bold; height: 30px;" onchange="window.open(value,'_self')">
							<option value="/admin/qna">문의유형</option>
							<option value="/admin/qna?p=1&s=10&b=10&field=inquiryType&search=취소문의" th:selected="${search}==취소문의">취소문의</option>
							<option value="/admin/qna?p=1&s=10&b=10&field=inquiryType&search=배송문의" th:selected="${search}==배송문의">배송문의</option>
							<option value="/admin/qna?p=1&s=10&b=10&field=inquiryType&search=반품문의" th:selected="${search}==반품문의">반품문의</option>
							<option value="/admin/qna?p=1&s=10&b=10&field=inquiryType&search=교환문의" th:selected="${search}==교환문의">교환문의</option>
							<option value="/admin/qna?p=1&s=10&b=10&field=inquiryType&search=환불문의" th:selected="${search}==환불문의">환불문의</option>
							<option value="/admin/qna?p=1&s=10&b=10&field=inquiryType&search=AS문의" th:selected="${search}==문의">AS문의</option>
							<option value="/admin/qna?p=1&s=10&b=10&field=inquiryType&search=오류문의" th:selected="${search}==오류문의">오류문의</option>
							<option value="/admin/qna?p=1&s=10&b=10&field=inquiryType&search=기타" th:selected="${search}==기타">기타</option>
						</select>
					</th>
					<th>작성일</th>
					<th>답변여부</th>
				</tr>
				<th:block>
					<tr th:each="vo: ${qv.list}" class="list" th:onclick="location.href='/admin/qna/view?question_id=[[${vo.question_id}]]'">
						<td>[[${vo.question_id}]]</td>
						<td>[[${vo.username}]]</td>
						<td>[[${vo.question_title}]]</td>
						<td>[[${vo.inquiryType}]]</td>
						<td>[[${#dates.format(vo.question_regdate,'yy-MM-dd(E) HH:mm')}]]</td>
						<td>[[${vo.question_status}]]</td>
						<td class="hide">[[${vo.user_id}]]</td>
					</tr>
				</th:block>
				<tr class="pageList">
					<td>[(${qv.pageList})]</td>
				</tr>
			</table>
			<form th:action="@{/admin/qna}" method="get" class="QuestionSearch">
				<input type="hidden" name="p" th:value="${ppv.p}" />
				<input type="hidden" name="s" th:value="${ppv.s}" />
				<input type="hidden" name="b" th:value="${ppv.b}" />
				<select name="field" id="field">
					<option value="question_title">제목</option>
					<option value="user_id">유저번호</option>
					<option value="inquiryType">문의유형</option>
				</select>
				<input type="text" name="search" id="search"/>
				<input type="submit" id="submit" value=""/>
			</form>
	</section>
</body>
</html>