<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
<script src="/webjars/bootstrap/5.3.0/js/bootstrap.min.js"></script>
<script src="/webjars/axios/1.4.0/dist/axios.min.js"></script>
<title>관리자 페이지</title>
<link rel="stylesheet" type="text/css" href="/css/admin/admin.css">
<link rel="stylesheet" type="text/css" href="/css/admin/adminOrderView.css">
</head>
<body>
	<header>
		주문 상세
	</header>
	<nav>
		<div class="menu-bar">
			<div class="admin" onclick="location.href='/admin'">
				ADMIN
			</div>
			<div class="admin-users" onclick="location.href='/admin/users'">
				회원관리
			</div>
			<div class="admin-products" onclick="location.href='/admin/products'">
				상품관리
			</div>
			<div class="admin-qna" onclick="location.href='/admin/qna'">
				문의관리
			</div>
			<div class="admin-review" onclick="location.href='/admin/review'">
				후기관리
			</div>
			<div class="admin-review" onclick="location.href='/admin/orders'">
				주문관리
			</div>
			<div onclick="location.href='/index.html'">
				SHOP
			</div>
		</div>
	</nav>
	<section class="bg">
		<div class="orderInfo">
			<div class="orderId">
				<a href="/admin/orders"><i class="bi bi-arrow-left"></i></a>  [[${ov.order_id}]]
			</div>
			<div class="orderDate">[[${#temporals.format(ov.order_date,'yyyy년 MM월 dd일 hh:mm')}]]</div>
		</div>
		<div class="bigBox">
			<div class="box1">
				<div class="orderbar">
					<div>전체</div>
					<div>배송</div>
					<div>취소</div>
					<div>반품</div>
				</div>
				<div class="pdSet">
					<div class="pdSetInfo">
						<div class="pdWait">상품준비</div>
						<div class="orderUid"><span> #[[${ov.merchant_uid}]] </span>&nbsp;&nbsp;<span> [[${#temporals.format(ov.order_date,'yyyy년 MM월 dd일 생성')}]] </span></div>
					</div>
					<form action="">
						<div class="pdTableBox">
							<table class="pdTable">
							<colgroup>
			                  <col width="5%" />
			                  <col width="10%" />
			                  <col width="48%" />
			                  <col width="20%" />
			                  <col width="25%" />
			                </colgroup>
								<tr style="height: 20px;">
									<th><input type="checkbox" /></th>
									<th>전체</th>
								</tr>
								<th:block>
									<tr th:each="item : ${iv}" class="list" th:if="${item.status} =='결제완료'">
										<td><input type="checkbox" th:value="${item.order_item_id}"/></td>
										<td><img th:src="@{'/images/products/product' + ${item.product_id} +'/product-'+ ${item.product_id} + '-1.jpg'}" alt="" /></td>
										<td>[[${item.product_name}]] <br />
											<span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="span"> [[${item.product_option}]]&nbsp; </span></span>
										</td>
										<td>[[${#numbers.formatInteger(item.product_price,3,'COMMA')}]] 원 X [[${item.quantity}]]</td>
										<td>[[${#numbers.formatInteger(item.sum,3,'COMMA')}]]원</td>
									</tr>
								</th:block>
							</table>
						</div>
						<div class="shipBtnBox">
							<input type="submit" class="shipBtn btn btn-dark" value="배송중 처리"/>
						</div>
					</form>
				</div>
				<div class="pdShip">
					<div class="pdShipInfo">
						<div class="shipWait">배송중</div>
						<div class="orderUid"><span> #[[${ov.merchant_uid}]] </span>&nbsp;&nbsp;<span> [[${#temporals.format(ov.order_date,'yyyy년 MM월 dd일 생성')}]] </span></div>
					</div>
					<form action="">
					<div class="pdShip1">
						<table class="pdShipTable">
						<colgroup>
		                  <col width="5%" />
		                  <col width="10%" />
		                  <col width="48%" />
		                  <col width="20%" />
		                  <col width="25%" />
		                </colgroup>
							<tr style="height: 20px;">
								<th><input type="checkbox" /></th>
								<th>전체</th>
							</tr>
							<th:block>
								<tr th:each="item : ${iv}" class="shipList" th:if="${item.status} =='배송중'">
									<td><input type="checkbox" th:value="${item.order_item_id}"/></td>
									<td><img th:src="@{'/images/products/product' + ${item.product_id} +'/product-'+ ${item.product_id} + '-1.jpg'}" alt="" /></td>
									<td>[[${item.product_name}]] <br />
										<span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="span"> [[${item.product_option}]]&nbsp; </span></span>
									</td>
									<td>[[${#numbers.formatInteger(item.product_price,3,'COMMA')}]] 원 X [[${item.quantity}]]</td>
									<td>[[${#numbers.formatInteger(item.sum,3,'COMMA')}]]원</td>
								</tr>
							</th:block>
						</table>
					</div>
						<div class="shipOkBtnBox">
							<input type="submit" class="shipOkBtn btn btn-dark" value="배송완료 처리"/>
						</div>
					</form>
				</div>
			</div>
			<div class="box2">
				<div class="payBox">
					<div class="pay1">결제정보</div>
					<div class="pay2">주문 금액
						<div>할인</div>
					</div>
					<div class="pay3">결제된 금액<span>[[${#numbers.formatInteger(ov.total_price,3,'COMMA')}]]원</span></div>
				</div>
				<div class="userBox">
					<div class="userInfo1">구매자 정보</div>
					<div class="userInfo2">[[${uv.username}]] ([[${uv.user_level}]])
						<div class="userInfo3">[[${uv.phone}]]</div>
						<div class="userInfo4">[[${uv.email}]]</div>
					</div>
				</div>
				<div class="addressBox">
					<div class="addr1">배송지 정보</div>
					<div class="addr2">[[${uv.username}]]
						<div class="addr3">[[${uv.phone}]]</div>
						<div>[[${ov.address}]]</div>
						<div style="font-weight: bold;">요청사항</div>
						<div th:if="${ov.request_type != null}" style="font-style: italic;">([[${ov.request_type}]])</div>
						<div th:if="${ov.request_type == null}" style="color: grey;">배송 메모 없음</div>
					</div>
				</div>
			</div>
		</div>
		
	</section>
	
</body>
</html>