<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<title>관리자 페이지</title>
<link rel="stylesheet" type="text/css" href="/css/admin/admin.css"/>
<link rel="stylesheet" type="text/css" href="/css/admin/adminUserDetails.css">
<script type="text/javascript">
function pointCheck(){
	var value = $("#user_point").val();
	var price_regex = /^[1-9]+[0-9]+$/;
	if(!price_regex.test(value)){ 
		value = value.replace(/^0+/, '');
	}
}
$(function(){
	$("#pointForm").submit(function(){
		  if(!confirm('확인을 누르면 처리됩니다')){
			return false;
		}
	 });
});
</script>
</head>
<body>
	<header>
		회원 상세 정보
	</header>
	<nav>
		<div class="menu-bar">
			<div class="admin" onclick="location.href='/admin'">
				ADMIN
			</div>
			<div class="admin-users" onclick="location.href='/admin/users'">
				회원관리
			</div>
			<div class="admin-products" onclick="location.href='/admin/products'">
				상품관리
			</div>
			<div class="admin-qna" onclick="location.href='/admin/qna'">
				문의관리
			</div>
			<div class="admin-review" onclick="location.href='/admin/review'">
				후기관리
			</div>
			<div class="admin-review" onclick="location.href='/admin/orders'">
				주문관리
			</div>
			<div onclick="location.href='/index.html'">
				SHOP
			</div>
		</div>
	</nav>
	<section class="bg">
			<div class="back">
				<i class="bi bi-arrow-left-circle" onclick="location.href='/admin/users'">회원 목록</i>
			</div>
			<div class="bigbox">
				<div class="box1">
					<div class="info">
						<ul>
							<label>유저정보</label>
							<li> &nbsp; </li>
							<li>ID : [[${details.username}]]</li>
							<li>닉네임: [[${details.nickname}]]</li>
							<li>이름: [[${details.name}]]</li>
							<li>생년월일 : [[${#dates.format(details.birth_date,'yyyy-MM-dd')}]]</li>
							<li>이메일 : [[${details.email}]]</li>
							<li>핸드폰 : [[${details.phone}]]</li>
							<li>회원등급 : [[${details.user_level}]]</li>
						</ul>
					</div>
					<div class="email" >
						<ul>
							<li>이메일 수신여부 : [[${details.news_email}]]</li>
						</ul>
					</div>
					<div class="orderList" >
						<ul>
							<li> 주문내역 (구현예정)</li>
						</ul>
					</div>
				</div>
				<div class="box2">
					<div class="history" >
						<ul>
							<label>활동정보</label>
							<li> &nbsp; </li>
							<li>가입일 : [[${#dates.format(details.regdate,'yyyy-MM-dd')}]]</li>
							<li>&nbsp;</li>
							<li>후기 : <a th:href="@{/admin/review?p=1&s=10&b=10&field=user_id&search=}+${details.user_id}" style="color: blue;">[[${reviewCount}]]</a> 건</li>
							<li>문의 : <a th:href="@{/admin/qna?p=1&s=10&b=10&field=user_id&search=}+${details.user_id}" style="color: blue;">[[${qnaCount}]]</a> 건</li>
						</ul>
					</div>
					<div class="point" >
						<table style="text-indent: 15px;">
							<tr>
								<td>
									<label>포인트</label>
								</td>
							<tr>
								<td>보유 포인트 : [[${details.user_point}]]</td>
							</tr>
							<tr>
								<td>
									<form th:action="@{/pointOk}" method="post" id="pointForm">
										<select name="pnm" id="pnm" style="width: 80px;">
											<option value="plus">지급</option>
											<option value="minus">차감</option>
										</select>
										<input type="hidden" name="user_id" th:value="${details.user_id}"/>
										<input type="number" name="user_point" id="user_point" onsubmit="pointCheck()" style="width: 150px;" placeholder="포인트입력" max="999999"/>
										<input type="submit" class="btn btn-info btn-sm" value="확인"/>
									</form>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
	</section>
</body>
</html>