<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>적립금</title>
</head>
<style>
.orange {
color: orange;
size: 100pt;
}
</style>
<body>
    <h5>상품 결제금액의 1% 적립금으로 적립</h5>
    <p>- 쿠폰 사용/적립금 사용액 제외한 금액 적립</p>
    <p>- 특정 품목 제외 및 이벤트 시 추가 적립 </p>
    <br>
    <h5>상품 구매후 리뷰를 남시기면 추가적립 혜택!</h5>
    <p>- 기본 적립 <span class="orange">500P</span> (일반 리뷰 작성)</p>
    <p>- 추가 적립 <span class="orange">1,000P</span> (상품별 최초 리뷰 작성) <span class="orange">3,000P</span> (리뷰 최초 작성)</p>
    <hr>
    <p style="text-align: center">보유한 적립금은 1원 이상 결제시 <span class="orange">1P</span>부터 사용 가능 </p>
    <hr>
    <a href="/my-reviewList.html"
							class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">작성 가능 리뷰</a>
</body>
</html>
