<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
<title
	th:text="${keyword != null && keyword != '' ? keyword + ' | SearchResult' : 'SearchResult'}">SearchResult</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="images/icons/favicon.png" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/MagnificPopup/magnific-popup.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="css/util.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="css/searchResult.css">
<!--===============================================================================================-->
<!-- jQuery & Bootstrap 추가 -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
<style>
.active-category {
	color: #333;
	border-color: #797979;
}
</style>
</head>
<body class="animsition">
	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
			<div class="top-bar">
				<div class="content-topbar flex-sb-m h-full container">
					<div class="left-top-bar">Free shipping for standard order
						over $100</div>

					<div>
						<div class="search-container">
							<form action="/search" method="get" id="searchForm">
								<input type="text" name="keyword" required autocomplete="off">
								<button type="submit">
									<i class="icon-header-item zmdi zmdi-search"></i>
								</button>
							</form>
						</div>
					</div>
					<div class="right-top-bar flex-w h-full">
						<a th:href="@{question.html}"
							class="customer flex-c-m trans-04 p-lr-25"> <b>고객 센터</b>
						</a>

						<!-- 관리자 모드 버튼 : 관리자일 경우 활성화한다. -->
						<th:block th:if="${isLogin}">
							<th:block th:if="${uservo.user_role=='ROLE_ADMIN'}">
								<a href="/admin" class="flex-c-m trans-04 p-lr-25"> <b>관리자
										모드</b>
								</a>
							</th:block>
						</th:block>
					</div>
				</div>
			</div>

			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop container">

					<!-- Logo desktop -->
					<a href="index.html" class="logo"> <img
						src="images/icons/logo-01.png" alt="IMG-LOGO">
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li class="active-menu"><a href="index.html">Home</a></li>

							<li><a href="product.html">Shop</a></li>
							<li class="label1" data-label1="hot"><a
								href="shoping-cart.html">Features</a></li>
							<li><a href="blog.html">Blog</a></li>

							<li><a href="about.html">About</a></li>

							<li><a href="contact.html">Contact</a></li>

						</ul>
					</div>

					<!-- Icon header -->
					<!-- 로그인 하지 않은 경우 -->
					<div th:if="${#authorization.expression('!isAuthenticated()')}">
						<div class="wrap-icon-header logged-out flex-w flex-r-m">

							<!-- 회원가입 -->
							<a href="/terms"
								class="header-icon-text dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
								<i class="zmdi zmdi-account-add"></i> <span class="stext-109"><b>JOIN</b></span>
							</a>
							<!-- 로그인 -->
							<a href="/login"
								class="header-icon-text dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
								<i class="zmdi zmdi-lock-outline"></i> <span class="stext-109"><b>LOGIN</b></span>
							</a>
						</div>
					</div>

					<!-- 로그인 한 경우 -->
					<div th:if="${#authorization.expression('isAuthenticated()')}">
						<div class="wrap-icon-header flex-w flex-r-m">
							<!-- 로그아웃 -->
							<a href="/logout"
								class="header-icon-text dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
								<i class="zmdi zmdi-lock-open"></i> <span class="stext-109"><b>LOGOUT</b></span>
							</a>
							<!-- 마이페이지 -->
							<a th:href="@{myPage.html}"
								class="header-icon-text dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
								<i class="zmdi zmdi-account"></i> <span class="stext-109"><b>MY
										PAGE</b></span>
							</a>
							<!-- 위시리스트 -->
							<div id="wish-container">
								<a th:href="@{wishlist.html}"
									class="header-icon-text dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"
									th:data-notify="${uservo.wishList.size()}"> <i
									class="zmdi zmdi-favorite-outline"></i> <span class="stext-109"><b>WISH</b></span>
								</a>
							</div>
							<!-- 장바구니 -->
							<a th:href="@{shoping-cart.html(u=${uservo.user_id})}"
								class="header-icon-text icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart"
								data-notify="0"> <i class="zmdi zmdi-shopping-cart"></i> <span
								class="stext-109"><b>CART</b></span>
							</a>
						</div>
					</div>
				</nav>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->
			<div class="logo-mobile">
				<a href="index.html"><img src="images/icons/logo-01.png"
					alt="IMG-LOGO"></a>
			</div>

			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m m-r-15">
				<div
					class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
					<i class="zmdi zmdi-search"></i>
				</div>

				<div
					class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart"
					data-notify="2">
					<i class="zmdi zmdi-shopping-cart"></i>
				</div>

				<a th:href="@{whishlist.html}"
					class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti"
					data-notify="0"> <i class="zmdi zmdi-favorite-outline"></i>
				</a>
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box"> <span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">
			<ul class="topbar-mobile">
				<li>
					<div class="left-top-bar">Free shipping for standard order
						over $100</div>
				</li>

				<li>
					<div class="right-top-bar flex-w h-full">
						<a href="#" class="flex-c-m p-lr-10 trans-04"> Help & FAQs </a> <a
							href="#" class="flex-c-m p-lr-10 trans-04"> My Account </a> <a
							href="#" class="flex-c-m p-lr-10 trans-04"> EN </a> <a href="#"
							class="flex-c-m p-lr-10 trans-04"> USD </a>
					</div>
				</li>
			</ul>

			<ul class="main-menu-m">
				<li><a href="index.html">Home</a> <span
					class="arrow-main-menu-m"> <i class="fa fa-angle-right"
						aria-hidden="true"></i>
				</span></li>

				<li><a href="product.html">Shop</a></li>

				<li><a href="shoping-cart.html" class="label1 rs1"
					data-label1="hot">Features</a></li>

				<li><a href="blog.html">Blog</a></li>

				<li><a href="about.html">About</a></li>

				<li><a href="contact.html">Contact</a></li>
			</ul>
		</div>

		<!-- Modal Search 
		<div
			class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
			<div class="container-search-header">
				<button
					class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
					<img src="images/icons/icon-close2.png" alt="CLOSE">
				</button>

				<form class="wrap-search-header flex-w p-l-15">
					<button class="flex-c-m trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>
					<input class="plh3" type="text" name="search"
						placeholder="Search...">
				</form>
			</div>
		</div>
		-->

	</header>
	<!-- 검색 결과  -->
<body>
	<section class="search_container">

		<!-- 검색어 표시 -->
		<div class="search_result">
			<span style="font-weight: bold;">‘[[${keyword}]]’</span>에 대한 통합 검색
			결과입니다.
		</div>


		<!-- 상품 목록 -->
		<div class="product-list" id="product-list">
			<div class="product-item" th:each="product : ${products}">
				<!-- 상품 링크 -->
				<div class="product-link"
					th:onclick="'location.href=\'' + @{product-detail.html(product_id=${product.product_id}, category_id=${product.category_id})} + '\''">

					<!-- 상품 이미지 -->
					<img
						th:src="@{'/images/products/product' + ${product.product_id} + '/product-' + ${product.product_id} + '-1.jpg'}"
						alt="상품 이미지" class="product-image">

					<!-- 상품 정보 -->
					<div class="product-info">
						<!-- 상품명과 찜하기 버튼을 수평으로 배치 -->
						<div class="product-name-wish">
							<!-- 상품명 -->
							<div class="product-name">
								<span th:if="${product.product_stock > 0}"
									th:text="${product.product_name}"></span> <span
									th:if="${product.product_stock <= 0}"
									th:text="'[품절] ' + ${product.product_name}"></span>
							</div>
						</div>
						</div>
					</div>
					<!-- 가격 정보 -->
					<th:block th:if="${product.discount > 0}">
						<!-- 원래 가격 -->
						<span class="price-original"
							th:text="${#numbers.formatInteger(product.product_price, 3, 'COMMA') + ' ₩'}"
							style="text-decoration: line-through;"></span>
						<!-- 할인된 가격과 할인율 -->
						<span class="price-discount"><span
							class="discount-text"
							th:text="' ↪ [' + ${product.discount} + '% 할인]' + ${#numbers.formatInteger(product.getDiscountPrice(product.product_price, product.discount), 3, 'COMMA') + ' ₩'}"></span>
						</span>
					</th:block>

					<th:block th:if="${product.discount == 0}">
						<!-- 할인되지 않은 경우 기본 가격만 표시 -->
						<span
							th:text="${#numbers.formatInteger(product.product_price, 3, 'COMMA') + ' ₩'}"></span>
					</th:block>
				</div>

			</div>

			<!-- 페이지네이션 -->
			<div class="custom-pagination" id="custom-pagination">
				<ul id="custom-pagination-list">
					<!-- 첫 페이지로 이동 (1~10 그룹일 때 비활성화) -->
					<li id="first-page"
						th:classappend="${disableFirstPage ? 'disabled' : ''}"><a
						th:href="@{/search(page=1, size=${size}, keyword=${keyword})}">&lt;&lt;</a>
					</li>

					<!-- 이전 페이지 버튼 -->
					<li id="prev-page" th:classappend="${!showPrev ? 'disabled' : ''}"
						th:if="${startPage > 10}"><a
						th:href="@{/search(page=${currentPage - 1}, size=${size}, keyword=${keyword})}">&lt;</a>
					</li>


					<!-- 페이지 번호들 -->
					<li th:each="i : ${#numbers.sequence(startPage, endPage)}"
						th:classappend="${i == currentPage ? 'active' : ''}"><a
						class="page-link"
						th:href="@{/search(page=${i}, size=${size}, keyword=${keyword})}"
						th:text="${i}"></a></li>

					<!-- 다음 페이지 버튼 -->
					<li id="next-page" th:classappend="${!showNext ? 'disabled' : ''}">
						<a
						th:href="@{/search(page=${currentPage + 1}, size=${size}, keyword=${keyword})}">&#62;</a>
					</li>

					<!-- 마지막 페이지로 이동 -->
					<li id="last-page" th:classappend="${!showLast ? 'disabled' : ''}">
						<a
						th:href="@{/search(page=${totalPages}, size=${size}, keyword=${keyword})}">&gt;&gt;</a>
					</li>
				</ul>
			</div>
	</section>
</body>





<!-- Footer -->
<footer class="bg3 p-t-75 p-b-32">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-lg-3 p-b-50">
				<h4 class="stext-301 cl0 p-b-30">Categories</h4>

				<ul>
					<li class="p-b-10"><a href="#"
						class="stext-107 cl7 hov-cl1 trans-04"> Women </a></li>

					<li class="p-b-10"><a href="#"
						class="stext-107 cl7 hov-cl1 trans-04"> Men </a></li>

					<li class="p-b-10"><a href="#"
						class="stext-107 cl7 hov-cl1 trans-04"> Shoes </a></li>

					<li class="p-b-10"><a href="#"
						class="stext-107 cl7 hov-cl1 trans-04"> Watches </a></li>
				</ul>
			</div>

			<div class="col-sm-6 col-lg-3 p-b-50">
				<h4 class="stext-301 cl0 p-b-30">Help</h4>

				<ul>
					<li class="p-b-10"><a href="#"
						class="stext-107 cl7 hov-cl1 trans-04"> Track Order </a></li>

					<li class="p-b-10"><a href="#"
						class="stext-107 cl7 hov-cl1 trans-04"> Returns </a></li>

					<li class="p-b-10"><a href="#"
						class="stext-107 cl7 hov-cl1 trans-04"> Shipping </a></li>

					<li class="p-b-10"><a href="#"
						class="stext-107 cl7 hov-cl1 trans-04"> FAQs </a></li>
				</ul>
			</div>

			<div class="col-sm-6 col-lg-3 p-b-50">
				<h4 class="stext-301 cl0 p-b-30">GET IN TOUCH</h4>

				<p class="stext-107 cl7 size-201">Any questions? Let us know in
					store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on
					(+1) 96 716 6879</p>

				<div class="p-t-27">
					<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16"> <i
						class="fa fa-facebook"></i>
					</a> <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16"> <i
						class="fa fa-instagram"></i>
					</a> <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16"> <i
						class="fa fa-pinterest-p"></i>
					</a>
				</div>
			</div>

			<div class="col-sm-6 col-lg-3 p-b-50">
				<h4 class="stext-301 cl0 p-b-30">Newsletter</h4>

				<form>
					<div class="wrap-input1 w-full p-b-4">
						<input class="input1 bg-none plh1 stext-107 cl7" type="text"
							name="email" placeholder="email@example.com">
						<div class="focus-input1 trans-04"></div>
					</div>

					<div class="p-t-18">
						<button
							class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
							Subscribe</button>
					</div>
				</form>
			</div>
		</div>

		<div class="p-t-40">
			<div class="flex-c-m flex-w p-b-18">
				<a href="#" class="m-all-1"> <img
					src="images/icons/icon-pay-01.png" alt="ICON-PAY">
				</a> <a href="#" class="m-all-1"> <img
					src="images/icons/icon-pay-02.png" alt="ICON-PAY">
				</a> <a href="#" class="m-all-1"> <img
					src="images/icons/icon-pay-03.png" alt="ICON-PAY">
				</a> <a href="#" class="m-all-1"> <img
					src="images/icons/icon-pay-04.png" alt="ICON-PAY">
				</a> <a href="#" class="m-all-1"> <img
					src="images/icons/icon-pay-05.png" alt="ICON-PAY">
				</a>
			</div>

			<p class="stext-107 cl6 txt-center">
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				Copyright &copy;
				<script>document.write(new Date().getFullYear());</script>
				All rights reserved | Made with <i class="fa fa-heart-o"
					aria-hidden="true"></i> by <a href="https://colorlib.com"
					target="_blank">Colorlib</a>
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

			</p>
		</div>
	</div>
</footer>


<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
	<span class="symbol-btn-back-to-top"> <i
		class="zmdi zmdi-chevron-up"></i>
	</span>
</div>

<!-- Modal1 -->
<div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
	<div class="overlay-modal1 js-hide-modal1"></div>

	<div class="container">
		<div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
			<button class="how-pos3 hov3 trans-04 js-hide-modal1">
				<img src="images/icons/icon-close.png" alt="CLOSE">
			</button>

			<div class="row">
				<div class="col-md-6 col-lg-7 p-b-30">
					<div class="p-l-25 p-r-30 p-lr-0-lg">
						<div class="wrap-slick3 flex-sb flex-w">
							<div class="wrap-slick3-dots"></div>
							<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

							<div class="slick3 gallery-lb">
								<div class="item-slick3"
									data-thumb="images/product-detail-01.jpg">
									<div class="wrap-pic-w pos-relative">
										<img src="images/product-detail-01.jpg" alt="IMG-PRODUCT">

										<a
											class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
											href="images/product-detail-01.jpg"> <i
											class="fa fa-expand"></i>
										</a>
									</div>
								</div>

								<div class="item-slick3"
									data-thumb="images/product-detail-02.jpg">
									<div class="wrap-pic-w pos-relative">
										<img src="images/product-detail-02.jpg" alt="IMG-PRODUCT">

										<a
											class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
											href="images/product-detail-02.jpg"> <i
											class="fa fa-expand"></i>
										</a>
									</div>
								</div>

								<div class="item-slick3"
									data-thumb="images/product-detail-03.jpg">
									<div class="wrap-pic-w pos-relative">
										<img src="images/product-detail-03.jpg" alt="IMG-PRODUCT">

										<a
											class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
											href="images/product-detail-03.jpg"> <i
											class="fa fa-expand"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-lg-5 p-b-30">
					<div class="p-r-50 p-t-5 p-lr-0-lg">
						<h4 class="mtext-105 cl2 js-name-detail p-b-14">Lightweight
							Jacket</h4>

						<span class="mtext-106 cl2"> $58.79 </span>

						<p class="stext-102 cl3 p-t-23">Nulla eget sem vitae eros
							pharetra viverra. Nam vitae luctus ligula. Mauris consequat
							ornare feugiat.</p>

						<!--  -->
						<div class="p-t-33">
							<div class="flex-w flex-r-m p-b-10">
								<div class="size-203 flex-c-m respon6">Size</div>

								<div class="size-204 respon6-next">
									<div class="rs1-select2 bor8 bg0">
										<select class="js-select2" name="time">
											<option>Choose an option</option>
											<option>Size S</option>
											<option>Size M</option>
											<option>Size L</option>
											<option>Size XL</option>
										</select>
										<div class="dropDownSelect2"></div>
									</div>
								</div>
							</div>

							<div class="flex-w flex-r-m p-b-10">
								<div class="size-203 flex-c-m respon6">Color</div>

								<div class="size-204 respon6-next">
									<div class="rs1-select2 bor8 bg0">
										<select class="js-select2" name="time">
											<option>Choose an option</option>
											<option>Red</option>
											<option>Blue</option>
											<option>White</option>
											<option>Grey</option>
										</select>
										<div class="dropDownSelect2"></div>
									</div>
								</div>
							</div>

							<div class="flex-w flex-r-m p-b-10">
								<div class="size-204 flex-w flex-m respon6-next">
									<div class="wrap-num-product flex-w m-r-20 m-tb-10">
										<div
											class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
											<i class="fs-16 zmdi zmdi-minus"></i>
										</div>

										<input class="mtext-104 cl3 txt-center num-product"
											type="number" name="num-product" value="1">

										<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
											<i class="fs-16 zmdi zmdi-plus"></i>
										</div>
									</div>

									<button
										class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
										Add to cart</button>
								</div>
							</div>
						</div>

						<!--  -->
						<div class="flex-w flex-m p-l-100 p-t-40 respon7">
							<div class="flex-m bor9 p-r-10 m-r-11">
								<a href="#"
									class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100"
									data-tooltip="Add to Wishlist"> <i
									class="zmdi zmdi-favorite"></i>
								</a>
							</div>

							<a href="#"
								class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
								data-tooltip="Facebook"> <i class="fa fa-facebook"></i>
							</a> <a href="#"
								class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
								data-tooltip="Twitter"> <i class="fa fa-twitter"></i>
							</a> <a href="#"
								class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
								data-tooltip="Google Plus"> <i class="fa fa-google-plus"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="vendor/slick/slick.min.js"></script>
<script src="js/slick-custom.js"></script>
<!--===============================================================================================-->
<script src="vendor/parallax100/parallax100.js"></script>
<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
<!--===============================================================================================-->
<script src="vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/sweetalert/sweetalert.min.js"></script>

<script th:inline="javascript">
	<!-- 찜 버튼 클릭 시 -->
	/*<![CDATA[*/
	function setWishList(productId, event, element){
		event.preventDefault();
		var userId = /*[[${uservo.user_id}]]*/;
		
		fetch('/setWish', {
	        method: 'POST',
	        headers: {
	            'Content-Type': 'application/json',
	        },
	        
	        body: JSON.stringify({ user_id: userId, product_id: productId }),
	    })
	    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.text(); // 응답을 텍스트로 변환
    })
	    .then(data => {
	    	var nameProduct = $(element).parent().parent().find('.js-name-b2').html();
	    	data = data == 'true';
	    	if(!data){
	    		swal({
					 title: nameProduct,
			            text: '상품을 찜 목록에서 삭제했습니다!',
			            icon: 'error',
			        }).then((willReload) => {
			            if (willReload) {
			                window.location.reload();
			            }
					});
	    	}else{
	    		swal({
					 title: nameProduct,
			            text: '상품을 찜 목록에 담았습니다!',
			            icon: 'success',
			        }).then((willReload) => {
			            if (willReload) {
			                window.location.reload();
			            }
					});
	    	}
	    	
	    })
	    .catch(error => {
	        console.error('Error:', 'Error : 찜 목록에 담지 못했습니다.');
	    });
		
		$(this).addClass('js-addedwish-b2');
		$(this).off('click');	
	}
	
		$('.js-addwish-b2').on('click', function(e){
			e.preventDefault();
			var isLogin = /*[[${isLogin}]]*/;
			
			if (!isLogin){
				let result = confirm('로그인 후 이용해 주세요.\n로그인 하시겠습니까?');
				if(result){
					window.location.href= '/login';
				}
			}else{
				var productId = $(this).data('product-id');
				setWishList(productId, e, this);
			}
		});
		
		// 고객센터는 로그인해야만 이동할 수 있다.
		// TODO : 1:1문의 외 추가기능을 넣는다면 수정해야한다. 
		$('.customer').on('click', function(e){
			e.preventDefault();
			var isLogin = /*[[${isLogin}]]*/;
			if (!isLogin){
				let result = confirm('로그인 후 이용해 주세요.\n로그인 하시겠습니까?');
				if(result){
					window.location.href= '/login';
				}
			}else{
				window.location.href= '/question.html';
			}
		});
		
		/*]]>*/
		
		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "상품을 찜 목록에 담았습니다!", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	
	</script>
<!--===============================================================================================-->
<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
		
		// 페이지 이동
		$(document).ready(function() {
		    // 해시가 있는 경우 해당 위치로 스크롤
		    if (window.location.hash) {
		        var target = $(window.location.hash);
		        if (target.length) {
		            $('html, body').animate({
		                scrollTop: target.offset().top
		            });
		        }
		    }
		});
	</script>
<!--===============================================================================================-->
<script th:inline="javascript">
	function getQueryParam(param) {
	    var urlParams = new URLSearchParams(window.location.search);
	    return urlParams.get(param);
	}
	var categorylist = [[${categorylist}]];
	var search = getQueryParam('search');
	//console.log('search : ' + search); 
	
	// 메인 상품 필터링
	$(".filter-button").on("click", function(event){
		const category = $(this).data("category");
		if(category == 0){
			window.location.href = 'index.html#target-section';
		}else{
			window.location.href = 'index.html?p=1&s=8&b=8&field=category_id&search=' + category + '#target-section';
		}
	});
	
	categorylist.forEach(function(category){
		if(category.category_id == search){
			document.getElementById(category.category_id).classList.add('active-category');
		}
		else if(search == null){
			document.getElementById('all-product').classList.add('active-category');
		}
	});
	// 검색기능
  function toggleSearchForm() {
    var form = document.getElementById("searchForm");
    // 검색 폼의 display를 토글 (보여주거나 숨기기)
    form.style.display = (form.style.display === "none" || form.style.display === "") ? "block" : "none";
}

	<!--===============================================================================================-->
	
  document.addEventListener("DOMContentLoaded", function () {
	    const prevButton = document.getElementById("prev");
	    const nextButton = document.getElementById("next");
	    const prev10Button = document.getElementById("prev-10");
	    const next10Button = document.getElementById("next-10");
	    const pageLinks = document.querySelectorAll(".custom-pagination-list .page-link");

	    const totalPages = /*[[${totalPages}]]*/; // Thymeleaf에서 총 페이지 수 전달
	    let currentPage = 1;

	    function updatePagination() {
	        // 페이지 번호 업데이트
	        Array.from(pageLinks).forEach((page, index) => {
	            page.classList.toggle("active", index + 1 === currentPage);
	        });

	        // 비활성화된 버튼 처리
	        prevButton.classList.toggle("disabled", currentPage === 1);
	        nextButton.classList.toggle("disabled", currentPage === totalPages);
	        prev10Button.classList.toggle("disabled", currentPage <= 10);
	        next10Button.classList.toggle("disabled", currentPage + 10 > totalPages);
	    }

	    function showPage(page) {
	        currentPage = page;
	        updatePagination();
	        console.log(`Now showing page ${page}`);

	        // 페이지 이동 후 스크롤을 상단으로 이동
	        window.scrollTo({
	            top: 0,  // 상단으로 스크롤
	            behavior: 'smooth'  // 부드러운 스크롤 효과
	        });
	    }

	    // 페이지 링크 클릭 시
	    pageLinks.forEach((link) => {
	        link.addEventListener("click", function () {
	            const clickedPage = parseInt(this.dataset.page);
	            if (clickedPage) {
	                showPage(clickedPage);
	            }
	        });
	    });

	    // '이전 페이지' 버튼 클릭
	    prevButton.addEventListener("click", function () {
	        if (currentPage > 1) {
	            showPage(currentPage - 1);
	        }
	    });

	    // '다음 페이지' 버튼 클릭
	    nextButton.addEventListener("click", function () {
	        if (currentPage < totalPages) {
	            showPage(currentPage + 1);
	        }
	    });

	    // '이전 10페이지' 버튼 클릭
	    prev10Button.addEventListener("click", function () {
	        if (currentPage > 10) {
	            showPage(currentPage - 10);
	        }
	    });

	    // '다음 10페이지' 버튼 클릭
	    next10Button.addEventListener("click", function () {
	        if (currentPage + 10 <= totalPages) {
	            showPage(currentPage + 10);
	        }
	    });

	    // 초기 페이지 설정
	    showPage(1);
	});

	</script>
<!--===============================================================================================-->
<script src="js/main.js"></script>

</body>


</html>